body {
    font-family: "Roboto", sans-serif;
}

.btn-float {
    bottom: 70px;
    right: 80px;
}

.margin-top {
    margin-top: 70px;
}

.informations {
    background-color: #333333;
    text-align: center;
    font-weight: 300;
}

.informations p {
    color: #fff;
    margin: 7px auto;
}
.informations .counter {
    font-size: 5em;
}
.informations .title-counter {
    font-size: .9em;
}

.contact-me {
    background-color: #f7f7f7;
}
.contact-form input, .contact-form textarea {
    background-color: transparent !important;
}
.contact-form .btn {
    color: #666;
    width: 100%;
    background-color: transparent;
    border: 1px solid #cccccc;
    box-shadow: none;
}
.contact-form .btn:hover {
    background-color: #F0F0F0;
    border: 1px solid transparent;
}
.contact-form label {
    color: #777;
}

/** Final Footer */
.final-footer p {
    font-size: .8em;
    color: #777;
    font-weight: 300;
}