html {
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 7px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #000;
}

/**
 * NAVBAR STYLES
 */
.navbar-nav {
    float: right;
    margin-top: 10px;
}
.navbar-nav li {
    display: inline-block;
    padding: 15px;
    font-size: .9em;
}
.navbar .active {
    border-bottom: 3px solid #00bcd4;
}
.navbar-nav li:hover {
    border-bottom: 3px solid #00bcd4;
}

@media screen and (max-width: 997px) {
    .navbar .control-nav {
        position: absolute;
        right: 15px;
        top: 24px;
        display: block;
        width: 30px;
        padding: 4px 0;
        border: solid #333;
        border-width: 3px 0;
        z-index: 2;
        cursor: pointer;
    }

    .navbar .control-nav:before {
        content: "";
        display: block;
        height: 3px;
        background: #333;
    }

    .navbar .control-nav-close {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        left: 0;
        display: block;
        z-index: 1;
        background: rgba(0, 0, 0, .5);
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    .navbar-collapse {
        position: fixed;
        z-index: 20000;
        top: 0;
        right: 0;
        bottom: 0;
        width: 200px;
        border-left: 1px solid #ccc;
        background: #fff;
        overflow-x: auto;
        -webkit-transition: all 500ms ease;
        transition: all 500ms ease;
        -webkit-transform: translate(100%, 0);
        -ms-transform: translate(100%, 0);
        transform: translate(100%, 0);
    }

    .navbar-nav {
        float: left;
    }

    .navbar-nav li {
        display: block;
    }
    .navbar-nav li, a {
        color: #777;
    }
    .brand {
        margin-left: 15px;
    }

}
#control-nav:checked ~ .control-nav-close {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}
#control-nav:checked ~ .navbar-collapse {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
}

/**
 * END NAVBAR STYLES
 */

.backimage-full {
    min-height: 300px;
}

    /**
     * INTRO STYLES
     */

.caption {
    position: relative;
    width: 81%;
    height: auto;
    text-align: center;
}

.caption h1 {
    font-size: 4.5em;
    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 0;
}
.caption p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase;
    color: #FFFFFF;
}
.caption span {
    color: #00bcd4;
}

.caption .btn {
    max-width: 130px;
    font-size: .9em;
    margin: 30px auto;
}

.btn-arrow {
    width: 28px;
    height: 35px;
    z-index: 1;
    left: 50%;
    margin-left: -27px;
    position: absolute;
    bottom: -25px;
    background-color: #ffffff;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .4);
}
.btn-circle img {
    width: 12px;
    height: 13px;
}

@media (max-width: 1025px) {
    .caption h1 {
        font-size: 3.5em;
    }
    .caption p {
        font-size: 1em;
    }
    .caption .btn {
        max-width: 120px;
        font-size: .9em;
        margin: 30px auto;
    }
}

@media (max-width: 838px) {
    .caption h1 {
        font-size: 3em;
    }
    .caption p {
        font-size: .9em;
    }
    .caption .btn {
        max-width: 120px;
        font-size: .9em;
        margin: 30px auto;
    }
}
@media (max-width: 768px) {
    .caption h1 {
        font-size: 2.5em;
    }
    .caption .btn {
        font-size: .8em;
        padding: 7px;
    }
}

/**
 * END INTRO STYLES
 */

/**
 * INTRODUCTION STYLES
 */

.my-pic {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    text-align: center;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .7);
}

.my-pic img {
    border-radius: 100%;
}

.introduction {
    color: #555 !important;
    font-weight: 300;
}
.introduction h2 {
    font-size: 2.3rem;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.introduction p.introduce {
    text-transform: uppercase;
}
.introduction p {
    color: #555;
    font-weight: 300;
    margin: 0 auto;
}
.introduction p.intro {
    margin-top: 20px;
    line-height: 23px;
}

@media screen and (max-width: 768px) {
    .introduction h2 {
        font-size: 2em;
    }
    .my-pic {
        width: 180px;
        height: 180px;
    }
}

.profile {
    padding-bottom: 35px;
}
.profile-header h1 {
    text-transform: uppercase;
}
.social-links ul {
    margin-left: -45px;
}
.social-links ul img {
    width: 32px;
    height: 32px;
}
.social-links ul li {
    display: inline-block;
    padding-right: 15px;
}

@media screen and (max-width: 997px) {
    .introduction {
        margin-top: 30px;
    }
    .introduction, .profile, .social-links {
        text-align: center;
    }
}

/**
 * END INTRODUCTION STYLES
 */

/**
 * SERVICES STYLES
 */

.service {
    text-align: center;
    padding: 5px;
    font-weight: 300;
}
.service h1 {
    text-transform: uppercase;
}
.service img {
    width: 70px;
    height: 70px;
}

.service .box-img {
    font-size: 3.5rem;
    border: 1px solid #ddd;
    border-radius: 50%;
    display: inline-block;
    height: 95px;
    width: 95px;
    line-height: 95px;
    color: #222;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

/**
 * END SERVICES STYLES
 */

/**
 * SKILLS STYLES
 */
.skills h1 {
    font-size: 2em;
}
.skills h1, .skills p, .skills h4 {
    color: #ffffff;
}
.skills .heading-line {
    background-color: #ffffff;
    width: 70px;
    margin: 0;
}

.skills.marg-top {
    margin-top: 25px;
}

.skills-left {
    line-height: 25px;
    font-weight: 400;
    padding: 10px;
}

@media screen and (max-width: 768px) {
    .skills h1 {
        font-size: 1.7em;
    }
}

/**
 * END SKILLS STYLES
 */

/**
 * PORTFOLIO STYLES
 */

.back-portfolio {
    background-color: #eee;
    padding-top: 20px;
    padding-bottom: 50px;
}
.portfolio h1 {
    font-size: 2em;
}
.portfolio-card {
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px auto;
}
.portfolio-card:hover {
    box-shadow: 0 5px 16px 0 rgba(0,0,0,0.2);
}
.portfolio-card img {
    margin-top: -2px;
    margin-left: -1px;
    height: 280px;
    overflow: visible;
}
.portfolio-card h1 {
    font-size: 1.2em;
}
.portfolio-card p {
    font-size: .9em;
}
.portfolio-card .btn {
    margin-bottom: 0;
}

/**
 * END PORTFOLIO STYLES
 */

/**
 * TO ACTION STYLES
 */

.to-action {
    background-color: #00bcd4;
}
.to-action h4 {
    font-size: 2em;
}
.to-action h4, .to-action p {
    color: #ffffff;
}
.to-action .heading-line {
    background-color: #ffffff;
}
.to-action .btn {
    width: 50%;
    margin-top: 7px;
    box-shadow: none;
    margin-left: 0;
}

.to-action .mini-text {
    margin-top: 5px;
    font-size: .8em;
}

@media screen and (max-width: 768px) {
    .to-action h4 {
        font-size: 1.7em;
    }
    .to-action .btn {
        width: 100%;
    }
}

/**
 * END TO ACTION STYLES
 */

/**
 * FOOTER STYLES
 */

.footer {
    background-color: #183E42;
}
.footer h4, .footer i {
    color: #ffffff;
}
.footer p {
    color: #ffffff;
}
.footer .heading-line {
    background-color: #ffffff;
}

/** Contact Form */
.contact-form input, .contact-form textarea {
    border: 1px solid #666 !important;
}
.contact-form input:focus,
.contact-form input:hover {
    border: 1px solid #ffffff;
}
.contact-form input, .contact-form textarea {
    background-color: transparent !important;
    color: #ffffff !important;
}
.contact-form label {
    color: #ccc;
}
.contact-form .btn {
    width: 100%;
}

/** Sub Footer */
.sub-footer {
    color: #DECFDE;
    background-color: #212120;
}
.sub-footer p, .sub-footer a, .sub-footer h5 {
    color: #DECFDE;
}
.sub-footer h5 {
    margin-bottom: 0;
    font-size: 1.4em;
}
.sub-footer p {
    line-height: 23px;
}
.sub-footer nav {
    margin-top: -18px;
}
.sub-footer ul li {
    padding: 5px;
}
.sub-footer a:hover {
    text-decoration: underline;
}

/** Final Footer */
.final-footer {
    background-color: #1C1C1B;
}
.final-footer p {
    font-size: .8em;
    color: #cccccc;
    font-weight: 300;
}

@media screen and (max-width: 768px) {
    .nav-link-title {
        font-size: 1.2em;
    }
}

/**
 * END FOOTER STYLES
 */

/**
 * HELPERS STYLES
 */

.mini-text {
    font-size: .8em;
}
.none {
    display: none;
}
.marg-top {
    margin-top: 70px;
}

/**
 * END HELPERS STYLES
 */
