# Uncomment the following to prevent the httpoxy vulnerability
# See: https://httpoxy.org/
#<IfModule mod_headers.c>
#    RequestHeader unset Proxy
#</IfModule>

#RewriteEngine on
#RewriteCond %{HTTP_HOST} ^leobcastro.com.br$ [NC,OR]
#RewriteCond %{HTTP_HOST} ^www.leobcastro.com.br$
#RewriteCond %{REQUEST_URI} !public/
#RewriteRule (.*) /public/$1 [L]
