html {
    font-family: "Roboto", sans-serif;
}

.margin-top {
    margin-top: 50px;
}
.intro h1 {
    font-size: 2.2em;
}
.xcard h2, .intro h1 {
    font-weight: 400;
}
.xcard h2 {
    font-size: 1.6em;
}
.intro p, .xcard p {
    font-weight: 400;

}
.intro .btn {
    width: 50%;
    float: left;
}
.img-box {
    width: 100%;
    height: 350px;
    margin-top: 10px;
}
.img-box img {
    width: 100%;
    height: 100%;
}

/**
* TO ACTION STYLES
*/
.to-action {
    background-color: #00bcd4;
}
.to-action h1 {
    font-size: 2em;
    font-weight: 400;
}
.to-action h1, .to-action p {
    color: #ffffff;
}
.to-action .heading-line {
    background-color: #ffffff;
}

/** Contact Form */
.to-action input {
    border: 1px solid #999 !important;
}
.to-action input:focus,
.to-action input:hover {
    border: 1px solid #ffffff;
}
.to-action input {
    background-color: transparent !important;
    color: #ffffff !important;
}

.to-action .btn {
    width: 50%;
    margin-top: 7px;
    box-shadow: none;
    margin-left: 0;
}
.to-action .btn-default {
    background-color: rgba(0, 0, 0, .2);
}
.to-action .btn-default:hover {
    background-color: rgba(0, 0, 0, .5);
}

.to-action .mini-text {
    margin-top: 5px;
    font-size: .8em;
}

@media screen and (max-width: 768px) {
    .to-action h1 {
        font-size: 1.7em;
    }
    .to-action .btn {
        width: 100%;
    }
}
/**
 * END TO ACTION STYLES
 */

.navbar-btn {
    color: #ffffff !important;
    float: right;
    margin-right: 7px;
    margin-top: 13px;
}

.final-footer {
    background-color: #f7f7f7;
}
.final-footer p {
    font-size: .8em;
    color: #777;
    font-weight: 300;
}

.registered {
    background-color: #61C261;
    transition: all .5s ease-in-out;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

@media screen and (max-width: 768px) {
    .intro h1 {
        font-size: 1.7em;
    }
    .xcard h2 {
       font-size: 1.4em;
    }

    .intro .btn {
        width: 100%;
    }
    .img-box {
        height: 250px;
    }
}
