html {
    font-family: "Roboto", sans-serif;
}

::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 7px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #000;
}

.navbar-btn {
    color: #ffffff !important;
    float: right;
    margin-right: 10px;
    margin-top: 9px;
}

.desc {
    background-color: #f7f7f7;
}

.margin-top {
    margin-top: 70px;
}

.title {
    font-size: 2em;
}
article img {
    max-width: 450px;
}

.informations {
    background-color: #333333;
    text-align: center;
    font-weight: 300;
}

.informations p {
    color: #fff;
    margin: 7px auto;
}
.informations .counter {
    display: block;
    font-size: 3.3em;
}
.informations .title-counter {
    font-size: .8em;
}

.final-footer p {
    color: #777;
    font-size: .8em;
    font-weight: 300;
}

@media screen and (max-width: 997px) {
    .desc header {
        text-align: center;
    }
}
